/* Media queries with sass */
$break-small: 320px;
$break-medium: 640px;
$break-large: 960px;

h1 {
  font-size: 20px;
  @media screen and (max-width: $break-large) {
    font-size: 18px;
  }
  @media screen and (max-width: $break-medium) {
    font-size: 16px;
  }
  @media screen and (max-width: $break-small) {
    font-size: 14px;
    &.small {
        color: #1D1D1D
    }
  }
}